.register {
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 3px solid #d3d3d3;
  border-radius: 1em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 100px;
}

.form {
  padding: 1em;
}

label {
  display: flex;
  font-weight: 600;
}
